<launch>    
    <arg name="trackparams" default="$(find-pkg-share mbmadvisionaruco)/data/trackparams.yaml"/>
    <node pkg="mbmadvisionaruco" exec="TrackNode.py" name="track" output="screen">
        <param from="$(var trackparams)"/>
    </node>
    <node pkg="mbmadlocate" exec="locatenode" name="locate" output="screen" launch-prefix="taskset -c 0">
        <remap from="/diagnostics" to="diagnostics"/>
    </node>    
    <node pkg="mbmadcar" exec="cardisplaynode" name="cardisplay" namespace="/mad/car0" output="screen">
        <param name="colorRGB" value="[ 1.0, 0.4, 0.0 ]"/>
    </node>
    <node pkg="mbmadcar" exec="cardisplaynode" name="cardisplay" namespace="/mad/car1" output="screen">
        <param name="colorRGB" value="[ 0.8, 1.0, 0.0 ]"/>
    </node>
     <node pkg="mbmadcar" exec="cardisplaynode" name="cardisplay" namespace="/mad/car2" output="screen">
        <param name="colorRGB" value="[ 0.0, 1.0, 0.0 ]"/>
    </node>
    <node pkg="mbmadcar" exec="cardisplaynode" name="cardisplay" namespace="/mad/car3" output="screen">
        <param name="colorRGB" value="[ 0.0, 0.0, 1.0 ]"/>
    </node>
</launch>