<!-- ros2 run camera_ros camera_node -ros-args -p FrameDurationLimits:="[20000,20000]" -p role:="viewfinder" -p width:=800 -p height:=600 -p format:="XBGR8888"  -p ExposureTime:=2000 -p AnalogueGain:=1.0 -->

<launch>
    <include file="$(find-pkg-share mbmad)/launch/madpicam.launch"/>
    <node pkg="mbmadrcpi" exec="rcnode" name="rc" output="screen">
        <!-- <param name="steeringoffsets" value="[-0.1, -0.1]" /> -->
        <remap from="/diagnostics" to="diagnostics"/>
    </node>
    <!-- <node pkg="image_tools" exec="showimage" name="showimage" output="log">
        <remap from="image" to="/mad/camera/image_raw"/>
    </node>
    -->
    <include file="$(find-pkg-share mbmad)/launch/madpijoy.launch"/>
</launch>