<launch>    
    <node pkg="mbmadcar" exec="carctrlnode" name="carctrl" namespace="/mad/car0" output="screen">
        <param name="joySteeringLevel" value="0.5"/>
        <remap from="/diagnostics" to="diagnostics"/>    
    </node>
    <node pkg="mbmadcar" exec="carctrlnode" name="carctrl" namespace="/mad/car1" output="screen">
        <remap from="/diagnostics" to="diagnostics"/>        
    </node>
</launch>